services:
  whoknows-blue:
    image: ghcr.io/devops-team36/whoknows:latest
    container_name: whoknows-blue
    restart: unless-stopped
    ports:
      - "8080:8080"
    volumes:
      - {{ app_dir }}/data:/app/data
    env_file: .env
    healthcheck:
      test: ["CMD", "wget", "--quiet", "--tries=1", "--spider", "http://localhost:8080/"]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 20s

  whoknows-green:
    image: ghcr.io/devops-team36/whoknows:latest
    container_name: whoknows-green
    restart: unless-stopped
    ports:
      - "8081:8080"
    volumes:
      - {{ app_dir }}/data:/app/data
    env_file: .env
    healthcheck:
      test: ["CMD", "wget", "--quiet", "--tries=1", "--spider", "http://localhost:8080/"]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 20s
